.servicos{
 
 display: flex;
width: 100%;
justify-content: space-around;
padding: 150px 0;
}
h2{
  margin: 50px;
}
@media screen and (min-width:0) and (max-width:720px) {
.servicos{
  flex-direction: column;
  align-items: center;
  
}
}