.boasVindas{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 height: 100vh;
  background:  url('../../img/cat-love.webp') no-repeat center / cover;
  color:#fff;

 font-size: 2rem;
}

.boasVindas__texto{
  width: 50%;
  height: 50%;
  padding: 30px;
  backdrop-filter: blur(15px);
}



@media screen and (min-width:0) and (max-width:720px) {
  .boasVindas{
    padding: 30px;
    flex-direction: column;
  }
  .boasVindas__img{
    margin-top: 20px;
    width: 100vw;
  }
 .boasVindas__texto{
  width: 100vw;
  font-size: large;
  padding: 0;
 }

  }