
.card-s{
 width:350px;
 min-width: 300px;
 max-width: 350px;
 height: auto;
 background: #fff;
 border: 1px solid #EB889D;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 border-radius: 10px;
 padding: 5px;
 height: 400px;
}
.card-s img{
  width: 100%;
  height: 200px;
  border-radius: 10px  10px 0 0 ;
}
.card-s p{
  font-size: 20px;
  margin: 5px 0;
}
.card-s button{
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: #EB889D;
  color: #fff;
 font-size: 20px;
 border: none;
 outline: none;
 cursor: pointer;


}
.card-s button:hover{
  background: #efabba;
}
@media screen and (min-width:0) and (max-width:720px) {
  .card-s{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  
    
  }
  .card-s p{
    font-size: 16px;
  }
  .card-s button{
    font-size: 16px;
    width: 120px;
    height: 40px;
  }
  
  }
