.sobre{
 width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 200px 0;
  background: #DBE0E4;
}
.sobre img{
  width: 40%;
}
.sobre p{
  width: 40%;
  font-size: 24px;
}

@media screen and (min-width:0) and (max-width:720px) {
  .sobre{
  
    flex-direction: column;
    gap: 50px;
  }
  .sobre img, .sobre p{
    width: 90%;
  }
  .sobre img{
    width: 100vw;
  }
.sobre p{
  align-items: center;
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
}
  
  }