.contato{
  display: flex;
  justify-content: space-around;
  background
  : linear-gradient(45deg,#E3CBC6,#C3B9B7);
  align-items: center;
  padding: 100px 0;
 
}
.contato img{
  width: 450px;
  
}
.contato form{
  width: 40%;
  height: 700px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  background: #d1c6c6;
  padding: 30px;

  border-radius: 10px;
  background: rgba(215, 214, 215, 0.7);
}
.contato legend{
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: bold;
}
.contato label{
align-self: flex-start;
}

.contato input{
  background: #f3eceb;
  width: 100%;
  height: 50px;
  margin: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.contato button{
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: #EB889D;
  color: #fff;
 font-size: 20px;
 border: none;
 outline: none;
 margin: 30px 0;
 cursor: pointer;
}
.contato button:hover{
  background: #efabba;
}
.contato ul{
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
 gap: 50px;
 margin: 30px;
  list-style: none;
}
i{
  color: #EB889D;
  cursor: pointer;
}
i:hover{
  scale: 1.3;
}
@media screen and (min-width:0) and (max-width:720px) {
  .contato{
    flex-direction: column-reverse;
    padding: 0;
    
  }
  .contato form {
    width: 90%;
    font-size: 1rem;
    margin: 50px 0;
  }
  .contato img{
    width: 100%;
    margin: 0;
  }
  }