.nav-bar{
  display: flex;
 
}
.nav-bar ul{
  list-style: none;
  display: flex;
  gap: 60px;
  margin-right: 40px;
}
.nav-bar ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
   cursor: pointer
}
.nav-bar ul li a:hover{
  color: #f8e2e6;
}

@media screen and (min-width:0) and (max-width:720px) {
  .nav-bar{
   font-size: 1rem;
  }
  .nav-bar ul {
    margin-right: auto;

  }
  }